.cotainer{
    max-width: 100%;
}
.banner{
    width: 100%;
    /* display: flex; */
    position: relative;
    gap: 10px;
    /* border: 10px dashed red; */
}
.banner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-bottom: 40px;
    /* position:relative; */
    /* color: black;  */
}
.vdo{
    /* width: 900px; */
    height: 400px;
    object-fit: cover;
    /* display: block; */
}
.bannerText{
    max-width: 50%;
    position: absolute;
    top: 20%;
    left: 1%;
    color: rgb(0, 0, 0);
    
}
.bannerText h1{
    font-size: 35px;
    font-weight: 700;
    font-family: poppins;
    font-weight: bold;
}

.bannerText p{
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    margin-top: 10px;   
    color: rgb(0, 0, 0);
}

.bannerText button{
    height: 40px;
    background: rgb(0, 0, 0);
    color: aliceblue;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 20px;
    font-family: poppins;
}

.bannerText button:hover{
    background: rgb(0, 0, 0);
    transition: background-color 1.9s ease;
    color: white;
}
.whatsapp{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.whatappicon{
    width: 50px;
    height: 50px;
    color: green;
    cursor: pointer;
}
.officeMail{
    width: 95%;
    background:#EFF1F5;
    padding: 1%;
    
    border-radius: 10px;
}
.NameAndEmail{
    display: flex;
}
.inputbox {
    width: 90%;
    height: 36px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #373738;
    font-weight: lighter;
    font-family:serif;
}
.inputbox::placeholder{
    font-size: 16px;
    color: #878D97;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}
.contactLable{
    font-size: 20px;
    color: #878D97;
    font-weight: lighter;
    font-family:serif;
   /* margin-bottom: 15px; */
}
#select{
    height: 36px;
    width: 60%;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #424243;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}
.textareadiv{
    display: flex;

}
.textarea{
    width: 60%;
    height: 60px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: #48494a;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
}

.contactBtn{
    width: 150px;
    height: 46px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 19px;
    color: white;
    font-weight: lighter;
    font-family:serif;
    padding: 5px;
    background: #80669d;
    cursor: pointer;
}

.bannerImageDown{
    display: flex;
    max-width: 80%;
    align-items: stretch;
    justify-content: start;
    /* border: 2px dashed red; */
    transition: bannerImageDown ease;
    margin:0 auto;
    gap: 20px;
}
.servicediv img{
    width: 50px;
    min-height: 50px;
}
.servicediv h1{
    font-size: 26px;
    font-family: poppins;
    font-weight: bold;
    margin-top: 10px;
}
.servicediv {
    /* min-width: 400px; */
    position: relative;
   /* margin-top:-5% ; */
   border-radius: 10px;
   padding: 50px;
   padding-bottom: 60px;
   border: 3px solid rgb(242, 238, 238);

} 
.servicediv p{
    font-size: 15px;
    font-family: poppins;
    font-weight: bold;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.734);
}

.readbtn{
    border: none;
    width: 120px;
    padding: 5px;
    position: absolute;
    bottom: 20px;
    background:  #80669d;
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    border-radius: 5px;
}

.readbtn:hover{
    background: rgb(0, 0, 0);
    color: white;   
    transition: background-color 1.9s ease;

}

.hero{
    
    display: flex;
    margin-top: 6%;
    padding-top: 40px;
    /* padding-left: 20%; */
    min-height: 600px;
    background: rgb(234, 234, 236);
    color: black;
    justify-content: center;
    position: relative;
    gap: 60px;
    background-image:  url(../assets/Back.jpg);
}
.heroImg img{
    display: block;
    max-height: 350px;
    
}
.heroText {
    /* margin: 1%; */
    gap: 10px;
    width: 30%;
}
.heroText h3{
    font-size: 15px;
    font-family: poppins;
    font-weight: bold;
    color: rgb(250, 6, 205); 
}
.heroText h1{
    font-size: 20px;
    font-family: poppins;
    font-weight: bold;
    color: #1A1A1A; 
}
.heroText p{
    font-size: 16px;
    font-family: poppins;
    font-weight: lighter;
    color: #555556; 
    margin-top: 15px;
    margin-bottom: 20px;
}

.call {
    display: flex;
    background: white;
    align-items: center;
    border-radius: 10px;
    justify-content: space-around;
    align-items: center;
}

.call p{
    font-size: 19px;
    font-family: poppins;
    font-weight: bold;
    color: #898787; 
    margin-top: 10%;
    margin-bottom: 4%;
}

.call img{
    width: 30%;
    height: 30%;
}
.btnDiv{
    display: flex;
    justify-content: center;
}
.herobtn{
    border: none;
    width: 120px;
    padding: 5px;
    background:  #80669d;
    color:rgb(245, 245, 248);
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    /* padding: 3%; */
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 5px;
}

.herobtn:hover{
    background: rgb(207, 93, 93);
    color: white;
    transition: background-color 1.9s ease;

}

.heroDown{
    display: flex;
    width: 100%;
    background: rgb(255, 255, 255);
    color: black;
    align-items: center;
    flex-direction: column;
    background-image:  url(../assets/HeroDownBG.png) ;
}

.heroDown p:nth-child(1){
    font-size: 23px;
    font-family: poppins;
    font-weight: bold;
    color: #593fff; 
    margin-top: 5%;
    margin-bottom: 0%;
}
.heroDown h1:nth-child(2){
    font-size: 50px;
    font-family: poppins;
    font-weight: bold;
    color: #1A1A1A; 
    margin-bottom: -7%;
}

.services {
    width: 100%;
}

.subSerices {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 11%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.service {
    padding: 40px;
    position: relative;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding-bottom: 40px;
    width: 320px;
    height: 550px;
}
.service:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
    transition: box-shadow 1.9s ease;
}
.service h2 {
    font-size: 20px;
    font-family: 'Poppins';
    font-weight: 700;
    line-height: 36px;
}

.service p {
    font-size: 16px;
    font-family: 'Poppins'; 
    font-weight: 400;
    line-height: 26px;
    color: #878D97;
}

.btn{
    position: absolute;
    margin-top: 2%;
    bottom: 30px;
    left: 125px;
    height: 35px;
    border-radius: 5px;
    background:  #80669d;
    color: #f6f6f6;
    border: navajowhite;
    font-weight: bold;

}
.btn:hover{
    background: #80669d;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 1.9s ease;
    transition: ease-out 1s ease-in-out;
    font-weight: bold;
}



.consult {
    min-height: 250px;
    background: rgb(105, 139, 136);
    overflow-x: auto;
    position: relative;
}
.consult .img{
    position: absolute;
    display: block;
    min-height: 300px;
    width: 100%;
}

.consultdiv {
    width: 78%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: aliceblue;
    padding: 50px;
    background: transparent;
    top: 5%;
}

.btn2{
    border: none;
    background: transparent;
    color: rgb(187, 186, 189);
    text-decoration: none;
    cursor: pointer;
    font: inherit;
    padding: 5px;
    border-radius: 5px;
    font-size: 25px;
    font-family: poppins;
    font-weight: lighter;
    margin-left: 10px;
    margin-top: 5px;
}

.btn2:hover{
    background: rgb(139, 138, 138);
    color: white;
    transition: background-color 1.9s ease;

}
.help{
    margin-top: 10%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: stretch;
    height: 500px;
    
}
.ladyIMG{
    margin-top: -4%;
    width: 60%;
    height: 500px;
    /* background-image: url(../assets/grayShade-BG.svg); */
    border-radius: 10px;
    margin-bottom: 10%;
}
.ladyIMG img{
    margin-top:4%;
    position: absolute;
    width: 50%;
    /* right:34%; */
    
}

.helpText{
    width: 50%;
    height: 410px;
    position: absolute;
    left: 50%;
    padding: 30px 50px;
    background-image: url(../assets/Blue-ShapeBG.svg); 
}
.helpTextDiv{
    max-width: 100%;
    align-items: center;
    /* padding: 20px; */

}

.helpTextDiv p{
    font-size: 15px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: lighter;
}
.helpTextDiv h1{
    font-size: 30px;
    font-family: poppins;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 10px;
}

.connecting{
    width: 90%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 0px;
    display: inline-flex;
    align-items: center;
}
.ConnectingText{
    width: 30%;
    /* margin: 5%; */
}
.ConnectingText h2{
    font-size: 16px;
    color: #0E5AF2;
    font-family: poppins;
    font-weight: bold;
}
.ConnectingText h1{
    font-size: 48px;
    font-family: poppins;
    color: rgb(30, 31, 31);
    font-weight: bold;
    margin-bottom: 10px;
}

.ConnectingText p{
    font-size: 16px;
    font-family: poppins;
    color: rgb(65, 67, 67);
    font-weight: lighter;
    margin-bottom: 10px;
}



.line{
    display: flex;
    justify-content: space-between;
}
.divline{
    width: 92%;
    border: 1px solid rgb(91, 89, 89);
    height: 3px;
    border-radius: 5px;
}
 .sweetline{
    width: 100%;
    height: 1px;
    background: rgb(27, 7, 248);
    margin-top: 1px;
    border-radius: 5px;
}

.connectingImg{
    width: 450px;
    height: 450px;
}

.connectingImg img{
    width: 450px;
    height: 450px;
}


 @media screen and (max-width: 800px) {
    .banner{

        display: flex;
        flex-direction: column;
    }
    .banner img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        position:relative;
        color: black; 
    }
    .bannerText{
        max-width: 50%;
        position: absolute;
        top: -10%;
        left: 20%;
        
    }
    .bannerText h1{
        font-size: 0.9rem;
    }
    .bannerText p{
        font-size: 0.7rem;
    }
    .bannerImageDown{
        display: flex;
        flex-direction: column;
        min-width: 100%;
        position: relative;
       margin-top:15px ;
       background: white;
       border-radius: 10px;
    }

    .servicediv{
        max-width: 80%;
        position: relative;
       margin-top:10px ;
       background: white;
       border-radius: 10px;
       padding: 20px 15px;
       /* padding-bottom: 50px; */
    }

    .readbtn{
        border: none;   
        position : absolute;
        bottom: 10px;
        background: rgb(236, 232, 232);
        color: blue;
        text-decoration: none;  
        cursor: pointer;
        font: inherit;
        padding: 3%;
        border-radius: 5px;
        font-size: 15px;
        font-family: poppins;
        
        font-weight: lighter;
    }   

    .service{
        position: relative;
        padding-bottom:50px ;
    }
    .btn{
        position: absolute;
        margin-top: 5%;
        bottom: 10px;
        left: 150px;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        color: #f6f6f6;
        border: navajowhite;
        font-weight: bold;
    
    }
    .hero{

        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .heroText {
        width: 65%;
    }
    .ladyIMG{
       background-image: none;
       width: 100%;
    }
    .subSerices {
        display: flex;
        flex-direction: column;
    }
    .consultdiv{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
        place-items: center;
        gap: 10px;
        min-height: 200px;
        background: none;
    }
    .heroDown{
        width: 100%;
        display: flex;
        align-items: center;
        text-align: center;
    }

.help{
    display: none;
}
.connecting{
    width: 100%;
    display: flex;
    align-items: center;
    text-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
  
}
.ConnectingText{
    width: 90%;
    margin-bottom: 20px;
}
} 

@media screen and (min-width: 300px) and (max-width: 400px) {
    .bannerText{
        top: 5%;
        left: 10%;
        
    }
    .banner img{
        object-fit:fill;
    }
    .bannerText p{
        font-size: 0.8rem;
        font-family: poppins;
        font-weight: lighter;
    }
    .service{
        position: relative;
        padding-bottom:50px ;
        /* border: 3px dashed red; */
    }
    .btn{
        position: absolute;
        margin-top: 5%;
        bottom: 10px;
        left: 20%;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        /* background: #80669d; */
        color: #f6f6f6;
        border: navajowhite;
        font-weight: bold;
    
    }
}
@media screen and (min-width: 401px) and (max-width: 800px){
    .bannerText{
        /* position: absolute; */
        top: 5%;
        left: 10%;
        
    }
    .banner img{
        object-fit:fill;
    }
    .bannerText p{
        font-size: 0.8rem;
    }
    .service{
        position: relative;
        padding-bottom:50px ;
        /* border: 3px dashed red; */
    }
    .btn{
        position: absolute;
        margin-top: 5%;
        bottom: 10px;
        left: 25%;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        color: #f6f6f6;
        border: navajowhite;
        font-weight: bold;
    
    }
    .connecting{
        margin-top: 10%;
    flex-direction: column-reverse;
    width: 100%;
        
    }
    .ConnectingText{
        width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }
}

@media screen and (min-width: 801px) and (max-width: 1300px){
    .bannerText{
        max-width: 50%;
        position: absolute;
        top: 38%;
        left: 10%;
        
    }
    .bannerText h1{
        font-size: 0.9rem;
        font-weight: bold;
    }
    .bannerText p{
        font-size: 0.8rem;
    }
    .service{
        position: relative;
        padding-bottom:60px ;
        /* border: 3px dashed red; */
    }
    .btn{
        position: absolute;
        margin-top: 5%;
        bottom: 10px;
        left: 20%;
        width: 150px;
        height: 50px;
        border-radius: 5px;
        color: #f6f6f6;
        border: navajowhite;
        font-weight: bold;
    
    }
    .connecting{
        margin-top: 10%;
    flex-direction: column-reverse;
    width: 100%;
        
    }
    .ConnectingText{
        width: 90%;
        margin-bottom: 20px;
        text-align: center;
    }
}