/* Default styles for desktop and larger screens */
.wrapperSignup {
  height: 800px;
  margin-top: 0px;
  color: #fff;
  background-image: url("../assets/Bg-White-.jpg");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signupForm {
  min-width: 300px;
  border-radius: 5px;
  color: #040000;
  background-color: white;
  background-image: url("../assets/background-image-parallax.webp");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  animation: parallax 4s ease-out infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

@keyframes parallax {
  0% {
      background-size: 150%;
  }
  50% {
      background-size: 170%;
  }
  100% {
      background-size: 150%;
  }
}

.signupForm h1 {
  font-size: 36px;
  text-align: center;
}

.signupForm .inputBox {
  position: relative;
  width: 80%;
  height: 60px;
  margin: 10px 0;
}

.inputBox input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border: 2px solid rgba(125, 122, 122, 0.1);
  border-radius: 10px;
  padding: 0 20px;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  font-family: "Poppins";
}

.inputBox input::placeholder {
  color: #1a1818;
  position: absolute;
  top: 35%;
}

.inputBox .icon {
  position: absolute;
  right: 10px;
  top: 25%;
  font-size: 36px;
  color: #6b6969;
}

.RememberPassword {
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RememberPassword label span {
  position: relative;
  top: -8px;
}

.RememberPassword input {
  width: 20px;
  height: 22px;
  margin-right: 10px;
}

.signupForm button {
  width: 70%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  font-size: 16px;
  color: #333;
  font-weight: 700;
}

.signupForm button:hover {
  background: #9792ee;
  color: aliceblue;
  transition: background-color 0.5s ease;
}

.signupForm .registerLink {
  font-size: 14.5px;
  text-align: center;
  font-weight: bold;
  margin: 20px 0 15px;
}

.registerLink p a {
  color: #1105f6;
  font-weight: 600;
  text-decoration: none;
}

.registerLink p a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .wrapperSignup {
      width: 100%;
      height: 100%;
  }
  .signupForm {
      width: 90%;
      height: 100%;
      margin-left: 5%;
  }

  .RememberPassword {
      width: 100%;
      margin: 0 auto;
      padding: 10px;
  }

  .RememberPassword input {
      margin-left: 30px;
      width: 20px;
      height: 22px;
  }
}